.summary__table {
  tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
  }
  
  th, td {
    text-align: center;
    display: table-cell;
    padding: .25em .5em;
    
    &:first-child {
      padding-left: 0;
    }
      
    &:last-child {
      padding-right: 0;
    }

  }
  
  
}

//Set overall view 

.summary__headline {
  font-weight: normal;
  letter-spacing: -1px;
  color: rgb(211, 218, 226);
  text-align: center;
  margin: 800px 0 0 0;
}

.summary__table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  margin: 1em auto;
  tr {
    border-color: lighten(#34495E, 10%);
  }
  th, td {
    margin: .5em 1em;
    @media (min-width: 480px) { 
      padding: 1em !important; 
    }
  }
  th, td:before {
    color: #dd5;
  }
}