@import "_normalize";
@import "_components";
@import "_table";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
  touch-action: manipulation;
}
body{
  background-image: url("../assets/img/blue_water.jpg");
  font-family: 'Roboto', sans-serif;
}
.application__display{
  display: none;
}
.interaction__display{
  display: none;
}