@import "_normalize";
@import "_variables";
@import "_components";


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
body{
  background-image: url("/assets/img/blue_water.jpg");
}